.container-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.person-info {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.title-perfil {
  color: #4a8db7;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.info-perfil {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 500px;
}

.achievements-perfil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.divisao-perfil {
    height: 4px; /* Altura da linha azul */
    width: 800px; /* Largura da tela menos a largura da sidebar */
    background-color: #4a8db7; /* Cor da linha azul */
    margin: 1rem;
  }

.item-perfil {
  width: 600px;
  height: 118px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #214e96;
  background: #d0f2ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}

.text-item {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 1rem;
}

.texts-achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
