.container-perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.person-info {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.title-perfil {
  color: #4a8db7;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 10px;
}

.info-perfil {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 500px;
}

.achievements-perfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.achievements-container {
  height: 410px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a8db7 #d0f2ff;
}

.achievements-container::-webkit-scrollbar {
  width: 8px;
}

.achievements-container::-webkit-scrollbar-thumb {
  background-color: #4a8db7;
  border-radius: 5px;
}

.achievements-container::-webkit-scrollbar-track {
  background-color: #d0f2ff;
}

.divisao-perfil {
  height: 4px;
  width: 800px;
  background-color: #4a8db7;
  margin: 1rem;
  border-radius: 5px;
}

.item-perfil {
  width: 600px;
  height: 118px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #4a8db7;
  background: #d0f2ff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  margin: 1rem;
}

.text-item {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 1rem;
}

.texts-achievements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
