.container-nivel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tasks {
    width: 650px;
    height: 131px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #214e96;
    background: #d0f2ff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

.button-header {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #111827;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 2rem;
    color: white;
}

.button-header:disabled {
  background: #6B7280; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor de texto desejada */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 650px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}

.text-header {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .box-tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .box-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .texts-tasks {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .icons-tasks {
    margin-left: 10px;
    cursor: pointer;
  }
